/* Dropdown container styles */

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  background-color: #F4EEE2;
  min-width: 300px;
  background-size: 250px 550px;
}

.dropdown-btn {
  color: white;
  padding: 10px;
  font-size: 17px; /* تكبير حجم النص */
  font-weight: bolder;
  text-align: left;
  border: none;
  cursor: pointer;
  background-image: url("downArrow.png");
  background-repeat: no-repeat;
  background-position: right;
  width: 600px; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  background-color: #F4EEE2;
  border-bottom: 3px solid black;
  margin-left: 20px; /* Move to the right by 20 pixels */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F4EEE2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 600px; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  border-bottom: 3px solid black;
  margin-bottom: 20px;
  margin-left: 20px; /* Move to the right by 20 pixels */
}

.dropdown-content p {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content.show {
  display: block;
}

.text-right p {
  text-align: right;
  font-weight: bolder;
}

.text-right a {
  float: left;
}
/* النصوص باللغة العربية */
.arabic-text {
  direction: rtl;
  text-align: right;
  margin-right: 10px; /* إضافة هامش من اليمين */
}

/* النصوص باللغة الإنجليزية */
.english-text {
  direction: ltr;
  text-align: left;
  margin-left: 10px; /* إضافة هامش من اليسار */
}


/* الروابط باللغة العربية */
.arabic-link {
  display: block;
  direction: rtl;
  text-align: right;
  margin-right: 10px; /* إضافة هامش من اليمين */
}

/* الروابط باللغة الإنجليزية */
.english-link {
  display: block;
  direction: ltr;
  text-align: left;
  margin-left: 10px; /* إضافة هامش من اليسار */
}

/* Add this style to the Dropdown.css file */
.dropdown-container {
  position: relative;
  left: 50px; /* Adjust this value to move the list closer to the image */
}

