body {
    background-color: #F4EEE2;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow-x: hidden;
  }

  .header {
    text-align: center;
    position: relative;
  }

  .presentation-container {
    text-align: center;
    margin: 50px auto; /* Add auto margins to center the container */
    max-width: 1200px; /* Optional: set a max width for the container */
  }

  .presentation-container iframe {
    width: 100%; /* Adjust to 100% to fit within the container */
    height: 600px; /* Adjust the height as needed */
    border: none;
  }
  


/* إعدادات خاصة بالجوال */
@media only screen and (max-width: 768px) {
    .presentation-container {
        margin: 20px auto; /* تقليل الهامش للجوال */
    }

    .presentation-container iframe {
        height: 400px; /* تقليل ارتفاع الـ iframe للجوال */
    }
    
    .contact-assistance {
        font-size: 14px;
    }
}

